<div class="card  bg-success mx-auto d-flex justify-content-center" style="width: 40rem; height: 40rem;">
    <div class="card-body" style="  display: block;  margin-left: auto; margin-top: 180px; margin-bottom: 80px;  margin-right: auto;  width: 80%;">
  
  
      <h5 class="card-title justify-content-center d-flex" >IMC</h5>
  
      <input #todo type="text" name="todo"  style="margin-top:20px;" type="text" class="form-control" placeholder="Height" aria-label="Username" aria-describedby="basic-addon1">
       <input type="text" style="margin-top:20px;" type="text" class="form-control" placeholder="Weight" aria-label="Username" aria-describedby="basic-addon1">
   
      <button (click)="onGenerate(todo.value)"  style="margin-top:25px; margin-left: 165px;" class="btn btn-primary ">Generate solution</button>
  
    </div>
  </div>